{
  "root": true,
  "extends": "@1stg",
  "overrides": [
    {
      "files": "*.mdx",
      "globals": {
        "Button": false
      }
    },
    {
      "files": [
        "**/app.json",
        "**/angular.json"
      ],
      "rules": {
        "json-schema-validator/no-invalid": "off"
      }
    }
  ]
}
