auto-install-peers=true
public-hoist-pattern[]=@1stg/*
public-hoist-pattern[]=*babel*
public-hoist-pattern[]=@commitlint/*
public-hoist-pattern[]=@pkgr/*
public-hoist-pattern[]=browserslist
public-hoist-pattern[]=cross-env
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=jest
public-hoist-pattern[]=lint-staged
public-hoist-pattern[]=npm-run-all
public-hoist-pattern[]=*postcss*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=simple-git-hooks
public-hoist-pattern[]=*stylelint*
public-hoist-pattern[]=*svelte*
public-hoist-pattern[]=tslib
prefer-workspace-packages=true
strict-peer-dependencies=false
