red-border()
  border solid 2px red

div
  red-border()

shadow(offset-x, args...)
  box-shadow offset-x args
  margin-top offset-x

#login
  shadow 1px 2px 5px #eee

add(a, b)
  a + b

body
  padding add(10px, 5)

shadow(x, y)
  x y y * 1.5 #000

.button
  box-shadow shadow(x 2, y 4)
